{% extends 'base.html' %}

{% block title %} All about FreelanceFlow {% endblock %}
{% block jumbotron_title %} All about FreelanceFlow {% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <p>Welcome to FreelanceFlow. We're the perfect solution designed for freelancers looking for an easy way to manage and track their freelance projects. We strive to give freelancers like you the tools and insights you need to streamline your workflow and maximize your productivity.</p>
                <p>Designed and built in Dublin ☘️</p>
                <img src="../static/images/dublinCity.jpeg" class="aboutImage" alt="Aerial view of Dublin">
            </div>
        </div>
    </div>
{% endblock %}