{% extends 'base.html' %}

{% block title %} Your Calendar {% endblock %}
{% block jumbotron_title %} Your Calendar {% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div id='calendar'>
                </div>
            </div>
        </div>
    </div>
    <script>
        // This script uses FullCalendar to display jobs on the calendar. The script creates the calendar and passes the events to the calendar. The events are passed in as a JSON object
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: {{ events | tojson | safe }}
            });
            calendar.render();
        });
    </script>
{% endblock %}