{% extends 'base.html' %}

{% block title %} Create a new Job {% endblock %}
{% block jumbotron_title %} Create a new Job {% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-5">
            <form method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Job title"
                            value="{{ request.form['title'] }}">
                </div>
                <div class="form-group">
                    <label for="content">Description</label>
                    <textarea class="form-control" name="description" placeholder="Enter details about the job here..."
                                rows="6">{{ request.form['description'] }}</textarea>
                </div>
                <div class="form-group">
                    <label for="datecreated">Date Created</label>
                    <input type="text" class="form-control" name="datecreated"
                            placeholder="Date Created YYYY/MM/DD" value="{{ request.form['datecreated'] }}">
                </div>
                <div class="form-group">
                    <label for="deadline">Deadline</label>
                    <input type="text" class="form-control" name="deadline"
                            placeholder="Deadline YYYY/MM/DD" value="{{ request.form['deadline'] }}">
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <input type="text" class="form-control" name="status" placeholder="Status"
                            value="{{ request.form['status'] }}">
                </div>
                <div class="form-group">
                    <label for="status">Quotation</label>
                    <input type="text" class="form-control" name="quotation" aria-label="Amount (to the nearest Euro)">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
{% endblock %}