{% extends 'base.html' %}

{% block title %} Create a new Job {% endblock %}
{% block jumbotron_title %} Create a new Job {% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-5">
            <form method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" placeholder="Job title">
                </div>
                <div class="form-group">
                    <label for="content">Description</label>
                    <textarea class="form-control" name="description" placeholder="Enter details about the job here..." rows="6"></textarea>
                </div>
                <div class="form-group">
                    <label for="datecreated">Date Created</label>
                    <input type="date" class="form-control" name="datecreated">
                </div>
                <div class="form-group">
                    <label for="deadline">Deadline</label>
                    <input type="date" class="form-control" name="deadline">
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" name="status">
                        <option value="Open">Open</option>
                        <option value="Backlog">Backlog</option>
                        <option value="Cancelled">Cancelled</option>
                        <option value="Blocked">Blocked</option>
                        <option value="Complete">Complete</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="status">Quotation</label>
                    <input type="text" class="form-control" name="quotation" aria-label="Amount (to the nearest Euro)">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
{% endblock %}