{% extends 'base.html' %}

{% block title %} {{ job['title'] }} {% endblock %}
{% block jumbotron_title %} {{ job['title'] }} {% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <p class="badge badge-primary"><strong>Job ID:</strong> {{ job['jobid'] }}</p>
                        <p class="card-text"><strong>Date Created:</strong> {{ job['datecreated'] }}</p>
                        <p class="card-text"><strong>Description:</strong> {{ job['description'] }}</p>
                        <p class="card-text"><strong>Deadline:</strong> {{ job['deadline'] }}</p>
                        <p class="card-text"><strong>Status:</strong> {{ job['status'] }}</p>
                        <p class="card-text"><strong>Quotation:</strong> €{{ job['quotation'] }}</p>
                        <a href="{{ url_for('modifyjob', job_id=job['jobid']) }}" class="btn btn-primary">Modify Job</a>
                        <a href="{{ url_for('deletejob', job_id=job['jobid']) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this job?')">Delete Job</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}